@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&family=Nunito+Sans:opsz,wght@6..12,400;6..12,500&display=swap");

* {
  box-sizing: border-box;
}

body,
p,
h1,
h2,
ul {
  margin: 0;
  padding: 0;
}
li {
  list-style: none;
}
body {
  font-family: "Inter", sans-serif;
  /* font-family: "Nunito Sans", sans-serif; */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #fffef2;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New", monospace;
}
